.fourth__section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 50px 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    &-content {
        display: flex;
        flex-direction: column;
        width: 45%;
        gap: 50px;

        h2 {
            font-size: 2rem;
            color: $cor-preto;
            font-weight: 800;
        }

        &-itens {
            display: flex;
            align-items: center;

            i {
                padding: 20px;
                background-color: $cor-secundaria;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                border-radius: 20px;
                font-size: 2rem;
                color: $cor-branco;
                margin-right: 20px;
                transition: .2s;

                &:hover {
                    scale: 1.1;
                }
            }

            .itens-content {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: $cor-preto;
                    font-size: 1.5rem;
                    font-weight: 600;
                }

                p {
                    font-size: 1.2rem;
                    color: $cor-cinza;
                    font-weight: 400;
                    text-align: justify;
                }
            }
        }
    }

    &-image {
        width: 50%;
    }
}



@media (max-width: 768px) {
    .fourth__section {
        max-width: 100%;
        margin: 50px auto;
        padding: 50px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;

        &-content {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 50px;

            h2 {
                font-size: 2rem;
                color: $cor-preto;
                font-weight: 800;
            }

            &-itens {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;

                i {
                    padding: 20px;
                    background-color: $cor-secundaria;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    border-radius: 20px;
                    font-size: 2rem;
                    color: $cor-branco;
                    margin-right: 20px;
                    transition: .5s;

                    &:hover {
                        background-color: $cor-primaria;
                        color: $cor-branco;
                    }
                }

                .itens-content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h3 {
                        color: $cor-preto;
                        font-size: 1.5rem;
                    }

                    p {
                        font-size: 1.2rem;
                        color: $cor-cinza;
                        font-weight: 400;
                        text-align: justify;
                    }
                }
            }
        }

        &-image {
            display: none;
            width: 40%;
        }
    }
}